<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated siteweb -->
      <package
            uri="http://www.example.org/siteweb"
            class="siteweb.SitewebPackage"
            genModel="model/siteweb.genmodel"/>
   </extension>

</plugin>
