<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pedagomm -->
      <package
            uri="http://www.example.org/pedagomm"
            class="univ.pedago.mm.pedagomm.PedagommPackage"
            genModel="model/pedagomm.genmodel"/>
   </extension>

</plugin>
